<% if @comments.any? %>
    
    <% @comments.each do |comment| %>
    
    <ul>
      <div><%= comment.body %> </div>
      
      <% if policy(comment).destroy? %>
        | <%= link_to "Destroy", [ @post, comment], method: :delete %>
      <% end %>
      
    </ul>
    
    <% end %>
    
    <% end %>